.input {
    display: flex;
    flex-direction: column;
}

.input__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__wrapper {
    width: 425px;
}

.input__placeholder {
    font-size: 16px;
    
    height: 30px;
    width: 165px;
    padding: 8px;
    
    border-bottom: 2px solid;
    border-radius: 20px;
    border-color: rgb(25, 65, 227);
}

.input__placeholder::placeholder {
    color: rgb(25, 65, 227);
}

.input__placeholders {
    display: flex;
    justify-content: space-between;
}
