@import "input.css";
@import "widgets.css";

* {
    box-sizing: border-box;
}

body {
    font-family: Monaco, sans-serif;
    font-weight: 600;
    background: #FFF;
    padding: 0;
    margin: 0 auto;
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    position: relative;
    margin: 5px auto;
    color: rgb(25, 65, 227);
}

.container {
    max-width: 1920px;
    min-width: 330px;
}

button {
    width: 425px;
    font-size: 32px;
    font-weight: 500;
    margin-top: 24px;
    padding: 15px;
    border-radius: 30px;
    color: #FFF;
    background-color: rgba(25, 65, 227, 0.8);
}

button:hover {
    background-color: rgb(25, 65, 227);
    cursor: pointer;
}